
body {
  margin: 5;
  font-family: "work sans";
  background: #e8bf2bb5;
}


header {
  background: #f0d3559c;
  color: white;
  text-align: center;
  padding: 30px;
}

header h1 {
  margin: 0;
  font-size: 45px;
}

header p {
  margin-top: 10px;
  font-size: 18px;
}


section {
  padding: 40px;
  max-width: 1000px;
  margin: 20px auto;
  background: rgba(241, 212, 68, 0.885);
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}


h2 {
  color: #f1d845b2;
  margin-bottom: 15px;
}


ul {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
  font-size: 16px;
}


.video {
  text-align: center;
  margin-top: 20px;
}

iframe {
  width: 100%;
  max-width: 600px;
  height: 340px;
  border-radius: 10px;
  border: none;
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  background: #f0da34de;
  color: rgba(214, 205, 78, 0.692);
  text-decoration: none;
  border-radius: 6px;
  margin-top: 20px;
  transition: 0.3s;
}

.btn:hover {
  background: #e6da2f;
}


@media (max-width: 768px) {
  header h1 {
    font-size: 25px;
  }

  section {
    padding: 20px;
  }

  iframe {
    height: 220px;
  }
}

.elemento {
  width: 100vw;
  background-color: #e6da2f36;
  font-size: 10em;
  border:1px black;

}

@media (max-width:600px) {
  .elemento{
    background-color: rgba(244, 244, 123, 0.729);
    font-size: 15em;
  }
}